<launch>
    <node name="manyears_node"
          pkg="manyears_ros"
          type="manyears_node_standalone"
          launch-prefix="xterm -e gdb --args"
          output="screen">
        <param name="config_file" 
               value="$(find manyears_ros)/data/xtion_stereo.mes"/>
        <rosparam>
            frame_id:    micro_center_link
            microphones:
             - {pos: {x: 0.00, y:  0.05, z: 0.00}, gain: 1.0}
             - {pos: {x: 0.00, y: -0.05, z: 0.00}, gain: 1.0}
        </rosparam>
    </node>

</launch>
